.App {
  min-height: 100vh;
  padding: 2rem;
  background: #36454f;
  display: flex;
  flex-direction: column;
  align-items: center;

  .List {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    .ListItem {
      width: 100%;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #708090;
      border: solid 2px;
      border-radius: 1rem;
      margin: 0.25rem 0;
      .name {
        width: 50%;
        padding-left: 1rem;
        font-weight: bold;
      }
      .controls {
        display: flex;
        align-items: center;

        input[type="checkbox"] {
          margin-right: 1rem;
          transform: scale(2);
          cursor: pointer;
        }
        .buttons {
          display: flex;
          button {
            outline: none;
            border: none;
            border-radius: 0.5rem;
            width: 2rem;
            padding: 0.5rem;
            cursor: pointer;
          }
          button + button {
            margin-left: 0.25rem;
          }
          .edit {
            background: gold;
            &:hover {
              background: darkgoldenrod;
            }
          }
          .delete {
            color: white;
            background: red;
            &:hover {
              background: darkred;
            }
          }
        }
      }
    }
  }
  .Form {
    margin-top: 2rem;
    margin-bottom: 1rem;

    h3 {
      text-align: center;
      color: white;
    }

    button {
      margin-left: 0.5rem;
      outline: none;
      border: none;
      background: lightgreen;
      color: white;
      width: 2rem;
      padding: 0.5rem;
      border-radius: 0.5rem;

      &:hover {
        cursor: pointer;
        background: green;
      }
    }

    input {
      height: 2rem;
      padding: 0.2rem 0.5rem;
      border: none;
      border-radius: 0.5rem;
      font-weight: bold;

      &:hover {
        cursor: text;
      }
      &:focus {
        outline: none;
        background-color: silver;
      }
    }
  }

  @media (min-width: 576px) {
    .List {
      .ListItem {
        .name {
          width: 75%;
        }
      }
    }
    .Form {
      margin-top: 2rem;
      margin-bottom: 1rem;

      h3 {
        text-align: center;
        color: white;
      }

      button {
        margin-left: 0.5rem;
        outline: none;
        border: none;
        background: green;
        color: white;
        width: 2rem;
        padding: 0.5rem;
        border-radius: 0.5rem;

        &:hover {
          cursor: pointer;
          opacity: 50%;
        }
      }

      input {
        height: 2rem;
        padding: 0.2rem 0.5rem;
        border: none;
        border-radius: 0.5rem;
        font-weight: bold;

        &:hover {
          cursor: text;
        }
        &:focus {
          outline: none;
          background-color: silver;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .List {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 1rem;
      .ListItem {
        width: 90%;
        .name {
          padding-left: 1rem;
          font-size: 1.2em;
          font-weight: bold;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .List {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
